body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

card {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.topnav {
  overflow: hidden;
  background-color: #1876D1;
}

.bodyContent {
  margin-left: 50px;
  margin-right: 50px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.topnav img {
  float: left;
  padding: 10px 10px;
}

.center {
    text-align:center;
}

.container {
  position: relative;
  text-align: center;
  color: rgba(44, 43, 43, 0.832);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}